{% extends 'base.html.twig' %}


{% block content %}
    <h1 align="center">Liste des reservations</h1>

    <table class="table">
        <thead>
        <tr>
            <th> id </th>
            <th>Nombre de personnes</th>
            <th>Date d'arrivée</th>
            <th>Date de retour</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nbrPers }}</td>
                <td>{{ reservation.date ? reservation.date.format('year(s), month(s), day(s)')  }}</td>
                <td>{{ reservation.dateR ? reservation.dateR.format('year(s), month(s), day(s)')  }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
