{% extends 'base-front.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.submit) }}

    {{ form_end(form) }}
    <a href="{{ path('afficheproduit') }}">Consulter la liste de produits</a>
{% endblock %}