{% extends 'frontcentre.html.twig' %}

{% block title %}Promo{% endblock %}

{% block body %}
    <h1>Promo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promo.id }}</td>
            </tr>
            <tr>
                <th>Nom_promo</th>
                <td>{{ promo.NomPromo }}</td>
            </tr>
            <tr>
                <th>Nv_prix</th>
                <td>{{ promo.nvPrix }}</td>
            </tr>
            <tr>
                <th>Description_promo</th>
                <td>{{ promo.DescriptionPromo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promo_indexfront') }}">back to list</a>

   

    {{ include('promo/_delete_form.html.twig') }}
{% endblock %}
