<!DOCTYPE html>
<html lang="en-US">
<head>



    <meta charset="UTF-8" />
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title%} Camp Net - Chill Out{% endblock %} </title>
    <!-- Windows 8 Tiles -->
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <!-- ****** faviconit.com favicons ****** -->
    {% block css%} <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}"/>
        <link rel="stylesheet" href="{{asset('css/picto-foundry-emotions.css')}}" />
        <link rel="stylesheet" href="{{asset('css/picto-foundry-household.css')}}" />
        <link rel="stylesheet" href="{{asset('css/picto-foundry-shopping-finance.css')}}" />
        <link rel="stylesheet" href="{{asset('css/picto-foundry-general.css')}}" />

        <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet"/>
        <link href="{{asset('css/fontawesome-free-6.0.0-web/css/all.css')}}" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="{{asset('images/logo.png')}}" /> {% endblock %}

</head>
<body>

{% block one %}
    <div class="pushWrapper">
        <!-- Header (shown on mobile only) -->
        <header class="pageHeader">
            <!-- Menu Trigger -->
            <button class="menu-trigger">
                <span class="lines"></span>
            </button>

            <!-- Logo -->
            <a class="headerLogo smoothScroll" href="#">
                <i class="fa-solid fa-campground  size25"></i>
                <span class="text">Camp'Net</span>
            </a>
        </header>

        <!-- Sidebar -->
        <div class="sidebar">

            <nav class="mainMenu">
                <ul class="menu">
                    <li>
                        <a class="smoothScroll" href="#timeline-part" title="About Camp'Net"><i class="step icon-question size-24"></i><span class="text">About Camp'Net</span></a>
                    </li>
                    <li>
                        <a href="{{ path('afficheproduit') }}" class="smoothScroll" href="#stastistical-part" title="Services"><i class="icon-reciept-1 size-24"></i><span class="text">Produit</span></a>
                    </li>
                    <li>
                        <a  href="{{ path('evenement_index') }}"  class="smoothScroll" href="#testimonials-part" title="Avis"><i class="step icon-calendar-1 size-24 size"></i><span class="text">Evenement</span></a>
                    </li>
                    <li>
                        <a href="{{ path('app_centre_camp_index') }}" class="smoothScroll" href="#featured-part" title="Top Events"><i class="step icon-bulleted-list size-24"></i><span class="text">Centre camp</span></a>
                    </li>
                    <li>
                        <a href="{{ path('activite_index') }}" class="smoothScroll" href="#pricing-part" title="notre magasin"><i class="step icon-cogs size-24"></i><span class="text">Nos Activites</span></a>
                    </li>
                    <li>
                        <a href="{{ path('app_reclamation_new') }}" class="smoothScroll" href="#pricing-part" title="notre magasin"><i class="step icon-envelope-1 size-34"></i><span class="text">Vos Reclamations</span></a>
                    </li>
                    <li>
                        <a href="{{ path('app_commentaire_new') }}" class="smoothScroll" href="#pricing-part" title="notre magasin"><i class="step icon-envelope-1 size-34"></i><span class="text">Vos Avis</span></a>
                    </li>

                    <li>
                        {% if app.user %}

                            <a href="{{ path('app_logout') }}" class="smoothScroll" href="#membership-part" title="Authentification"><i class="step icon-door-key size-24"></i><span class="text">Logout</span></a>
                        {% else %}

                            <a href="{{ path('app_login') }}" class="smoothScroll" href="#membership-part" title="Authentification"><i class="step icon-door-key size-24"></i><span class="text">Authentification</span></a>
                        {% endif %}
                    </li>
                    <li>

                        {% if app.user  %}
                            {% for role in app.user.roles %}
                                {% if role != "ROLE_USER" %}
                                    <a href="{{ path('admin') }}" class="smoothScroll" href="#membership-part" title="Authentification"><i class="step icon-door-key size-24"></i><span class="text">dashboard</span></a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
            </nav>

            <nav class="backToTop">
                <ul class="backToTop-menu">
                    <li><a class="smoothScroll" href="#section-intro" title="to the top"><i class="fa fa-chevron-up"></i><span class="text">Back to top</span></a></li>
                </ul>
            </nav>

        </div>

        
        <!-- Main -->
        <main>

            <!-- FORMS -->

            <!-- INTRO -->

            <section class="section-intro" id="section-intro" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">

                <a class="LC-logo" href="#/">
                    <i class="icon-LClogo"></i>
                    <!-- span class="text">Luxury</span> -->
                </a>

                <div class="content">
                    <div class="container-template">
                        <h1>
                            <i class="fa-solid fa-campground "></i>
                            <span class="seconday">CAMP'Net</span>
                            <span>Organisation de Camping</span>
                        </h1>
                    </div>
                </div>

            </section>
            <section class="timeline-part" id="timeline-part">

                <div class="content">
                    <div class="container-template">

                        <div class="headergroup">
                            <h2 class="in-point">
                                <span class="seconday">Notre Mission</span>
                                <span>CAMP' Net</span>
                            </h2>
                        </div>

                        <div class="container-template" >
                            <p><strong>La Premiere platforme qui organise les sports extremes en Tunisie </strong></p>
                            <p>Depuis que les vacances existent,
                                le camping est très vite devenu une alternative accessible à tous pour profiter de la nature. Si vous avez envie de profiter d'un vrai confort même en plein air, CAMP' NET vous propose un assortiment de meubles de camping pratiques et légers. </p><br></br>
                            <p>Vous trouverez tout le nécessaire pour planifier vos vacances en plein air.</p>
                        </div>

                    </div>

                </div></section>

 {% endblock %} 
            <!-- ONLINE STATISTICS SECTION -->

            <section class="stastistical-part" id="stastistical-part">


                <!-- section-seperator -->
                <div class="section-seperator">
                    <div class="container-template">
                        <h2>
                            <span class="seconday">Our</span>
                            Services </h2>
                    </div>
                </div>

                <!-- Content -->
                <div class="content">
                    <div class="container-template">

                        <div class="headergroup">
                            <h2>
                                <span class="seconday">Ranked No.1 for</span>
                                <span>&quot;Find yourself outside.
                        &quot;</span>
                            </h2>
                        </div>
                        <div class="intro container-template">
                            <p>Discover and book tent camping, RV parks, cabins, treehouses, and glamping.
                            </p>
                        </div>


                        <!-- Statistics -->
                        
                    </div>
                </div>

            </section>

            <!-- TESTIMONIALS SECTION -->

         
    </div>

    </section>


   


<!-- EVENTS CALENDAR SECTION-->

<section class="events-part" id="events-part">
    

        <!-- section-seperator -->
        

        <!-- Content -->
        <div class="content">
            <div class="container-template">
                <!-- Events List -->
                   {% block body %}       
                {% block ouba %}       {% endblock %}
                {% endblock %}

 {% block contact %}
                {% endblock %}

                {% block place %}  {% endblock %}
            </div>
        </div>
    </section>

<!-- FOUNDERS & TEAM SECTION-->



<section class="contact-form" id="contact-form">
   
        <div class="headergroup">
            <h2>
                <span class="seconday">Contact us</span>
                <span>CONTACTEZ-NOUS</span>
            </h2>
        </div>

        <div class="container">
            <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <br />
                    <form id="contact-us" method="post" action="contact.php">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 ">
                            <!-- Name -->
                            <br>
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Nom" />
                            <!-- Email -->
                            <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
                            <!-- secondayject -->
                            <input type="text" name="secondayject" id="secondayject" required="required" class="form" placeholder="numero de telephone" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6">
                            <!-- Message -->
                            <br>
                            <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom secondaymit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="button" id="secondaymit" name="secondaymit" class="form-btn semibold">Envoyer Message</button>
                        </div><!-- End Bottom secondaymit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Merci pour votre avis !</strong> Votre message est bien reçu.
                        </div>
                    </div>
                </div>
            </div><!-- End Contact Form Area -->
        </div><!-- End Inner -->

        <br />

    </section>


<footer class="pageFooter">
    <div class="btnContainer">
        <a class="gc-link" href="#" target="_blank"><i class="icon-handcrafted"></i></a>
    </div>

    <div class="btnContainer">
        <a class="LC-logo" href="#/">
            <i class="icon-LClogo"></i>
        </a>
    </div>
</footer>

</main>

</div>
{% block js %} <script type='text/javascript' src="{{asset('js/jquery.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/jquery-migrate.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/jquery.form.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/jquery.mobile.custom.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/modernizr.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/response.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/swiper.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/waypoints.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/jquery.stellar.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/module.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/wow.min.js')}}"></script> {% endblock %}
<script>
    {% block two %}
    new WOW().init();
</script> {% endblock %}

</body>
</html>