
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Evenements</title>
    <link rel="stylesheet" href="{{ asset('styles/reset.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/fonts.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/grid.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/app.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/responsive.css')}}">
</head>

<body>

<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="nav__wrapper">
                <a href="#" class="app-logo">
                </a>

            </div>
            <div class="nav-menu">
                <h2 class="nav-menu__title">Les Evenements</h2>
                <ul class="mobile-menu">
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link mobile-menu__link--active">Home</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Destination</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Near me</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Events</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Blog</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Gallery</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">About</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Contact Us</a>
                    </li>
                </ul>

            </div>




            <div class="nav__btn">
                <span class="nav__btn-line"></span>
            </div>

        </nav>
        <div class="header-content">
            <h1 class="header-content__title">Bienvenue Chez Campnet</h1>
            <p class="header-content__caption">
                Vivez Une experience Unique et enrichissante grace à cette nouvelle plateforme
            </p>
        </div>

    </div>

</header>

<main class="main">
    {% block body %}

    {% endblock %}
</main>

<script src="{{ asset('js/script.js')}}"></script>
</body>

</html>